
.haoHeader{
    background-color: cadetblue;
    padding-top:15px;
    padding-bottom:15px;
    height:50px;
    text-align: center;
}
.navHao{
    background-color: cadetblue;
}
.tagcloud{
    margin:20px 0;
    height:250px;
    width:100%;
}
#blogIndex{
    margin:20px 0;
}
#blogShow{
    height:200px;
    padding:9px;
    margin-bottom:20px;
}
#blogShow .blogTitle{
    height:20%;
    font-size: large;
}
#blogShow .blogContent{
    height:70%;
}
#blogShow .blogFooter{
    height:10%;
}
#blogShow .blogFooter .tags{
    float: right;
    margin-right:20px;
}
#blogShow .blogImg{
    float: left;
    width:25%;
    height:auto;
    padding-top:5px;
    margin-right:15px;
    margin-bottom: 15px;
}
#blogShow .blogContent .blogText{
    padding:10px;
}

#categoryIndex{
    margin:20px 0;
}
#categoryIndex #categoryShow{
    padding: 10px 15px;
    min-height: 50px;
    font-size: medium;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
#categoryShow .tags{
    float: left;
    margin-right:15px;
}
#categoryShow a:link{
    display: block;
    float:left;
    text-decoration: none;
    padding:5px;
}

#categoryShow a:hover{
    background-color:#e2e2e2;
    text-decoration: none;
}

#blog{
    padding: 5px;
}

#blog .title{
    font-size: large;
}
#blog .tags{
    margin-top: 10px;
    height:20px;
}
#blog .tags .tag{
    margin-right:20px;
}

#blog .content{
    margin-top: 20px;
}

#hotblogs{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}

#hotblogs td, #hotblogs th{
    font-size:1em;
    border:1px solid white;
    padding:10px 7px;
}

#hotblogs th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:silver;
    color:#ffffff;
}

#tags{
    float: right;
}

#me{
    font:italic 20px Sans-serif;
}

#me .head{
    position: relative;
    left:10%;
}
#me .basic{
    position: relative;
    left: 45%;
}

/*#skillswrap {*/
	/*padding-top: 20px;*/
	/*color: white;*/
/*}*/

/*#skillswrap h5, p {*/
	/*color: black;*/
/*}*/
